*~
*.pyc
*.pyo
*.pyd
*.orig
.DS_Store
.idea
.project
.pydevproject
.ipynb_checkpoints
.coverage
MANIFEST
build/
dist/
nanshe.egg-info/
.eggs/
docs/_build
docs/*.rst
!docs/index.rst
!docs/readme.rst
!docs/todo.rst
nbproject/
nbproject/private
